#root {
    position: fixed;
    width: 100svw;
    height: 100svh;
    text-align: center;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#webgl > div > div> div  {
    z-index: 9;
    position: relative;
    pointer-events: none;
} 
#webgl > div {
  pointer-events: auto;
} 

#html-overlay > div{
    background: rgb(85, 170, 170);
}

.jsdos-rso canvas{
    object-fit: contain;
    width: 100% !important;
    height: 100% !important;
}

.r95_1ct83mo9 img {
    margin-top: var(--r95-space-4);
    margin-right: var(--r95-space-4);
    min-width: var(--r95-space-2);
    width: var(--r95-space-20);
    height: var(--r95-space-20);
    shape-rendering: auto;
}